<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hospital Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    ul li a {
     
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color:rgb(236, 236, 236);">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="assets/images/plus.png" width="30px" height="30px"
            style="margin-top:-5px;" /></a>
        <a class="navbar-brand" href="#" style="font-weight:bolder;color: #090b99;font-family:roboto;font-style: normal;font-family: roboto;">Hospital
          Management System</a>
      </div>
      <ul class="nav navbar-nav" style="margin-left: 20px;">
        <li class="active"><a [routerLink]="['/home-page']" routerLinkActive="active" style="font-size:16px;"><span
              class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
        <li><a [routerLink]="['/show-patient-info']" style="font-size:16px;"><span
              class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Patient Information</a></li>
        <li><a [routerLink]="['/add-doctor']" style="font-size:16px;"><span
              class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Doctor</a></li>
        <li><a [routerLink]="['/show-doctor-info']" style="font-size:16px;"><span
              class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Show Doctor Informations</a></li>

      </ul>
    </div>
  </nav>
  <hr style="margin-top:-20px;border-top:1px solid #dedede">

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</body>

</html>